# Acosta Imandt Daniel
## Tema 2 - Expresiones Regulares Actividad Sumativa 4

In [1]:
#importamos las librerias y cargamos nuestros datos
import re
from dateutil import parser

from dateutil import parser
with open("dates.txt", "r") as myfile:
  string=myfile.read().replace('\n','')

In [2]:
# Buscamos las expresiones regulares con 
# dia -mes -año (número)
l1 = re.compile(r'[\d]{1,2}\/[\d]{1,2}\/[\d]{2,4}|[\d]{1,2}\-[\d]{1,2}\-[\d]{2,4}')
fechas = l1.findall(string)
fechas.remove('9/36/308')

print(fechas)
print(len(fechas))

#las ordenamos por fecha
fec=list()
for i in fechas:
    d = parser.parse(i)
    fec.append(d.strftime("%Y-%m-%d "))
    


fecha1=sorted(fec)

fecha1.remove('9712-08-09 ')

fecha1.remove('2071-09-12 ')

fecha1.remove('2071-07-11 ')

fecha1.remove('2071-05-18 ')

fecha1.remove('2071-07-08 ')
fecha1.pop(-1)
print(fecha1)
print(len(fecha1))

['03/25/93', '6/18/85', '7/8/71', '9/27/75', '2/6/96', '7/06/79', '5/18/78', '10/24/89', '3/7/86', '4/10/71', '5/11/85', '4/09/75', '8/01/98', '1/26/72', '5/24/1990', '1/25/2011', '4/12/82', '10/13/1976', '4/24/98', '5/21/77', '7/21/98', '10/21/79', '3/03/90', '2/11/76', '07/25/1984', '4-13-82', '9/22/89', '9/02/76', '9/12/71', '10/24/86', '03/31/1985', '7/20/72', '4/12/87', '06/20/91', '5/12/2012', '3/15/83', '2/14/73', '5/24/88', '7/27/1986', '1-14-81', '7-29-75', '6/24/87', '8/14/94', '4/13/2002', '8/16/82', '2/15/1998', '7/15/91', '06/12/94', '9/17/84', '2/28/75', '11/22/75', '5/24/91', '6/13/92', '7/11/71', '12/26/86', '10/11/1987', '3/14/95', '12/01/73', '12/5/2010', '08/20/1982', '7/24/95', '8/06/83', '02/22/92', '6/28/87', '07/29/1994', '08/11/78', '10/29/91', '7/6/91', '1/21/87', '11/3/1985', '7/04/82', '4-13-89', '7/11/77', '4/12/74', '09/19/81', '9/6/79', '12/5/87', '01/05/1999', '4/22/80', '10/04/98', '6/29/81', '8/04/78', '7/07/1974', '09/14/2000', '5/18/71', '8/09/1981', '6/05/93', '8/9/9712', '8/26/89', '10/13/95', '4/19/91', '04/08/2004', '9/20/76', '12/08/1990', '4/11/1974', '7/18/86', '3/31/91', '5/13/72', '11/14/83', '8/16/92', '10/05/97', '07/18/2002', '9/22/82', '2/24/74', '2/03/78', '2/11/2006', '8/22/83', '5/04/74', '7/20/2011', '6/17/95', '6/10/72', '10/16/82', '12/15/92', '12/8/97', '4/05/89', '12/04/87', '6/20/77', '4/27/2006', '07/17/92', '12/22/98', '10/02/96', '11/05/90', '5/04/77', '2/27/96']
124
['1972-01-26 ', '1972-05-13 ', '1972-06-10 ', '1972-07-20 ', '1973-02-14 ', '1973-12-01 ', '1974-02-24 ', '1974-04-11 ', '1974-04-12 ', '1974-05-04 ', '1974-07-07 ', '1975-02-28 ', '1975-04-09 ', '1975-07-29 ', '1975-09-27 ', '1975-11-22 ', '1976-02-11 ', '1976-09-02 ', '1976-09-20 ', '1976-10-13 ', '1977-05-04 ', '1977-05-21 ', '1977-06-20 ', '1977-07-11 ', '1978-02-03 ', '1978-05-18 ', '1978-08-04 ', '1978-08-11 ', '1979-07-06 ', '1979-09-06 ', '1979-10-21 ', '1980-04-22 ', '1981-01-14 ', '1981-06-29 ', '1981-08-09 ', '1981-09-19 ', '1982-04-12 ', '1982-04-13 ', '1982-07-04 ', '1982-08-16 ', '1982-08-20 ', '1982-09-22 ', '1982-10-16 ', '1983-03-15 ', '1983-08-06 ', '1983-08-22 ', '1983-11-14 ', '1984-07-25 ', '1984-09-17 ', '1985-03-31 ', '1985-05-11 ', '1985-06-18 ', '1985-11-03 ', '1986-03-07 ', '1986-07-18 ', '1986-07-27 ', '1986-10-24 ', '1986-12-26 ', '1987-01-21 ', '1987-04-12 ', '1987-06-24 ', '1987-06-28 ', '1987-10-11 ', '1987-12-04 ', '1987-12-05 ', '1988-05-24 ', '1989-04-05 ', '1989-04-13 ', '1989-08-26 ', '1989-09-22 ', '1989-10-24 ', '1990-03-03 ', '1990-05-24 ', '1990-11-05 ', '1990-12-08 ', '1991-03-31 ', '1991-04-19 ', '1991-05-24 ', '1991-06-20 ', '1991-07-06 ', '1991-07-15 ', '1991-10-29 ', '1992-02-22 ', '1992-06-13 ', '1992-07-17 ', '1992-08-16 ', '1992-12-15 ', '1993-03-25 ', '1993-06-05 ', '1994-06-12 ', '1994-07-29 ', '1994-08-14 ', '1995-03-14 ', '1995-06-17 ', '1995-07-24 ', '1995-10-13 ', '1996-02-06 ', '1996-02-27 ', '1996-10-02 ', '1997-10-05 ', '1997-12-08 ', '1998-02-15 ', '1998-04-24 ', '1998-07-21 ', '1998-08-01 ', '1998-10-04 ', '1998-12-22 ', '1999-01-05 ', '2000-09-14 ', '2002-04-13 ', '2002-07-18 ', '2004-04-08 ', '2006-02-11 ', '2006-04-27 ', '2010-12-05 ', '2011-01-25 ', '2011-07-20 ', '2012-05-12 ']
118

In [3]:
# mes día año (letra)
l2 = re.compile(r'[JjFfMmAaJjSsOcNnDe][a-z,A_Z]+\.? [\d]{1,2}, [\d]{2,4}')
fechas2 = l2.findall(string)
fechas2.pop(-2)
fechas2.pop(-1)
print(fechas2)
print(len(fechas2))
fec2=list()
for i in fechas2:
    d = parser.parse(i)
    fec2.append(d.strftime("%Y-%m-%d "))
    


fechas2=sorted(fec2)
print(fechas2)
print(len(fechas2))

['April 11, 1990', 'May 30, 2001', 'Feb 18, 1994', 'February 18, 1981', 'October. 11, 2013', 'July 26, 1978', 'December 23, 1999', 'May 15, 1989', 'September 06, 1995', 'Mar. 10, 1976', 'Jan 27, 1983', 'September 01, 2012', 'July 25, 1983', 'August 11, 1989', 'April 17, 1992', 'July 24, 1999', 'July 11, 1997', 'Sep. 10, 1974', 'August 14, 1981', 'Nov 11, 1988', 'June 13, 2011', 'May 14, 1989', 'June 25, 2012', 'Oct 18, 1980', 'May 15, 1998', 'July 25, 1998', 'June 15, 1972', 'January 07, 1991', 'September. 15, 2011']
29
['1972-06-15 ', '1974-09-10 ', '1976-03-10 ', '1978-07-26 ', '1980-10-18 ', '1981-02-18 ', '1981-08-14 ', '1983-01-27 ', '1983-07-25 ', '1988-11-11 ', '1989-05-14 ', '1989-05-15 ', '1989-08-11 ', '1990-04-11 ', '1991-01-07 ', '1992-04-17 ', '1994-02-18 ', '1995-09-06 ', '1997-07-11 ', '1998-05-15 ', '1998-07-25 ', '1999-07-24 ', '1999-12-23 ', '2001-05-30 ', '2011-06-13 ', '2011-09-15 ', '2012-06-25 ', '2012-09-01 ', '2013-10-11 ']
29

In [4]:
str_a = string.replace('","', '') #commas inside double quotes
str_a = string.replace(',', '') #replace just commas
#día mes año (letra)
l3 = re.compile('([\d]{1,2} )?([JjFfMmAaSsOcNnDe][a-z,A-Z,\d]{2,9} )([\d]{2,4}\d\d)')
fechas3 = l3.findall(str_a)

print(fechas3)
print(len(fechas3))
fechas3 = list(map(''.join, fechas3))
print(fechas3)


fechas3 = ["November 1997" if element == "sNovember 1997" else element for element in fechas3]
fechas3 = ["December 1978" if element == "Decemeber 1978" else element for element in fechas3]
fechas3 = ["Aug 1988" if element == "atmentIAug 1988" else element for element in fechas3]
fechas3 = ["Aug 2004" if element == "esyAug 2004" else element for element in fechas3]
fechas3 = ["Feb 1977" if element == "AFeb 1977" else element for element in fechas3]
fechas3 = ["Sep 1983" if element == "essSep 1983" else element for element in fechas3]
fechas3 = ["Jan 1993" if element == "Janaury 1993" else element for element in fechas3]
fechas3 = ["Aug 2004" if element == "esyAug 2004" else element for element in fechas3]
fechas3 = ["May 2004" if element == "spitalMay 2004" else element for element in fechas3]
fechas3 = ["1998" if element == "nedsSince 1998" else element for element in fechas3]
fechas3 = ["2011" if element == "attempt 2011" else element for element in fechas3]
fechas3 = ["1997" if element == "since 1997" else element for element in fechas3]
fechas3 = ["10 Feb 1990" if element == "10 Feb 199023" else element for element in fechas3]
fechas3 = ["05 Mar 1974" if element == "05 Mar 197429" else element for element in fechas3]
fechas3 = ["1996" if element == "since 1996" else element for element in fechas3]
fechas3 = ["1992" if element == "elivery 1992" else element for element in fechas3]
fechas3 = ["1977" if element == "ephrectomy 1977" else element for element in fechas3]
fechas3 = ["1996" if element == "since 1996" else element for element in fechas3]



fec3=list()
for i in fechas3:
    d = parser.parse(i)
    fec3.append(d.strftime("%Y-%m-%d "))
    


fechas3=sorted(fec3)
print(fechas3)
print(len(fechas3))

[('24 ', 'Jan ', '2001'), ('10 ', 'Sep ', '2004'), ('26 ', 'May ', '1982'), ('28 ', 'June ', '200206'), ('', 'May ', '1972'), ('25 ', 'Oct ', '1987'), ('14 ', 'Oct ', '1996'), ('30 ', 'Nov ', '2007'), ('28 ', 'June ', '1994'), ('14 ', 'Jan ', '1981'), ('10 ', 'Oct ', '1985'), ('11 ', 'February ', '1985'), ('10 ', 'Feb ', '1983'), ('05 ', 'Feb ', '1992'), ('21 ', 'Oct ', '2012'), ('14 ', 'Feb ', '1995'), ('30 ', 'May ', '2016'), ('22 ', 'Jan ', '1996'), ('14 ', 'Oct ', '1992'), ('06 ', 'Oct ', '2003'), ('18 ', 'Oct ', '1999'), ('11 ', 'Nov ', '2004'), ('30 ', 'May ', '2001'), ('02 ', 'Feb ', '1978'), ('09 ', 'Sep ', '1989'), ('12 ', 'March ', '1980'), ('22 ', 'June ', '1990'), ('28 ', 'Sep ', '2015'), ('13 ', 'Jan ', '1972'), ('06 ', 'Mar ', '1974'), ('10 ', 'Oct ', '1974'), ('26 ', 'May ', '1974'), ('10 ', 'Feb ', '199023'), ('', 'Aug ', '2000'), ('26 ', 'May ', '2001'), ('21 ', 'Oct ', '2007'), ('19 ', 'Oct ', '2016'), ('05 ', 'Mar ', '197429'), ('', 'Jan ', '1994'), ('21 ', 'Oct ', '1978'), ('18 ', 'August ', '1975'), ('11 ', 'Nov ', '1996'), ('01 ', 'Oct ', '1979'), ('13 ', 'Oct ', '1986'), ('21 ', 'Oct ', '1995'), ('24 ', 'Jan ', '2011'), ('04 ', 'Oct ', '1972'), ('23 ', 'Aug ', '1993'), ('18 ', 'Oct ', '2006'), ('04 ', 'Dec ', '1988'), ('21 ', 'Oct ', '1983'), ('26 ', 'May ', '2010'), ('18 ', 'Jan ', '1990'), ('15 ', 'Jun ', '1985'), ('10 ', 'Dec ', '1982'), ('09 ', 'Dec ', '1988'), ('18 ', 'August ', '1995'), ('13 ', 'June ', '1974'), ('26 ', 'May ', '2008'), ('11 ', 'Nov ', '2002'), ('17 ', 'Aug ', '1985'), ('13 ', 'Oct ', '2016'), ('14 ', 'Jan ', '2008'), ('12 ', 'March ', '2004'), ('21 ', 'Oct ', '1977'), ('10 ', 'Aug ', '2000'), ('30 ', 'Nov ', '1972'), ('06 ', 'May ', '1993'), ('18 ', 'Jan ', '1995'), ('', 'September ', '1985'), ('', 'June ', '2011'), ('', 'May ', '1986'), ('', 'May ', '2016'), ('', 'July ', '1977'), ('', 'July ', '1990'), ('', 'Jul ', '2003'), ('', 'Oct ', '2015'), ('', 'May ', '1995'), ('', 'February ', '1976'), ('', 'January ', '1995'), ('', 'Feb ', '1978'), ('', 'May ', '2011'), ('', 'May ', '2004'), ('', 'Nov ', '2010'), ('', 'Sep ', '2012'), ('', 'January ', '2013'), ('', 'November ', '1990'), ('', 'July ', '1981'), ('', 'May ', '1983'), ('', 'July ', '1995'), ('', 'April ', '1993'), ('', 'May ', '2005'), ('', 'December ', '1998'), ('', 'Jan ', '2007'), ('', 'Feb ', '2016'), ('', 'August ', '1979'), ('', 'Oct ', '2014'), ('', 'atmentIAug ', '1988'), ('', 'Sep ', '2015'), ('', 'Apr ', '1976'), ('', 'Nov ', '1979'), ('', 'February ', '2000'), ('', 'Oct ', '1986'), ('', 'Jun ', '2002'), ('', 'September ', '1981'), ('', 'June ', '2007'), ('', 'April ', '1989'), ('', 'September ', '1999'), ('', 'Oct ', '1980'), ('', 'Dec ', '2009'), ('', 'July ', '1992'), ('', 'May ', '2006'), ('', 'August ', '2008'), ('', 'Feb ', '1993'), ('', 'February ', '2010'), ('', 'April ', '1985'), ('', 'September ', '1984'), ('', 'April ', '1986'), ('', 'Apr ', '2007'), ('', 'September ', '1974'), ('', 'Sep ', '2013'), ('', 'July ', '1985'), ('', 'esyAug ', '2004'), ('', 'May ', '2012'), ('', 'AFeb ', '1977'), ('', 'Jan ', '1987'), ('', 'essSep ', '1983'), ('', 'January ', '2013'), ('', 'Mar ', '2010'), ('', 'August ', '2009'), ('', 'Sep ', '2007'), ('', 'December ', '2011'), ('', 'Jan ', '2004'), ('', 'November ', '1995'), ('', 'September ', '2008'), ('', 'February ', '1983'), ('', 'March ', '1983'), ('', 'Aug ', '1979'), ('', 'Jan ', '2009'), ('', 'January ', '1993'), ('', 'March ', '1974'), ('', 'January ', '1994'), ('', 'Dec ', '1992'), ('', 'November ', '2004'), ('', 'January ', '1977'), ('', 'Mar ', '2002'), ('', 'Feb ', '2000'), ('', 'spitalMay ', '2004'), ('', 'July ', '2006'), ('', 'Feb ', '1994'), ('', 'April ', '1977'), ('', 'Oct ', '1992'), ('', 'February ', '1995'), ('', 'February ', '1989'), ('', 'December ', '1978'), ('', 'January ', '2007'), ('', 'Jun ', '1976'), ('', 'May ', '2011'), ('', 'Mar ', '1975'), ('', 'Jan ', '1978'), ('', 'July ', '1975'), ('', 'November ', '2012'), ('', 'June ', '1999'), ('', 'October ', '1991'), ('', 'March ', '1973'), ('', 'October ', '1996'), ('', 'Jun ', '2007'), ('', 'October ', '1995'), ('', 'April ', '1999'), ('', 'May ', '2001'), ('', 'March ', '2000'), ('', 'April ', '1988'), ('', 'December ', '1993'), ('', 'June ', '1974'), ('', 'sNovember ', '1997'), ('', 'July ', '1986'), ('', 'February ', '1973'), ('', 'March ', '1978'), ('', 'Dec ', '2007'), ('', 'Apr ', '1998'), ('', 'March ', '2005'), ('', 'May ', '1980'), ('', 'Nov ', '2007'), ('', 'March ', '1976'), ('', 'nedsSince ', '1998'), ('', 'attempt ', '2011'), ('', 'since ', '1997'), ('', 'since ', '1996'), ('', 'elivery ', '1992'), ('', 'ephrectomy ', '1977')]
190
['24 Jan 2001', '10 Sep 2004', '26 May 1982', '28 June 200206', 'May 1972', '25 Oct 1987', '14 Oct 1996', '30 Nov 2007', '28 June 1994', '14 Jan 1981', '10 Oct 1985', '11 February 1985', '10 Feb 1983', '05 Feb 1992', '21 Oct 2012', '14 Feb 1995', '30 May 2016', '22 Jan 1996', '14 Oct 1992', '06 Oct 2003', '18 Oct 1999', '11 Nov 2004', '30 May 2001', '02 Feb 1978', '09 Sep 1989', '12 March 1980', '22 June 1990', '28 Sep 2015', '13 Jan 1972', '06 Mar 1974', '10 Oct 1974', '26 May 1974', '10 Feb 199023', 'Aug 2000', '26 May 2001', '21 Oct 2007', '19 Oct 2016', '05 Mar 197429', 'Jan 1994', '21 Oct 1978', '18 August 1975', '11 Nov 1996', '01 Oct 1979', '13 Oct 1986', '21 Oct 1995', '24 Jan 2011', '04 Oct 1972', '23 Aug 1993', '18 Oct 2006', '04 Dec 1988', '21 Oct 1983', '26 May 2010', '18 Jan 1990', '15 Jun 1985', '10 Dec 1982', '09 Dec 1988', '18 August 1995', '13 June 1974', '26 May 2008', '11 Nov 2002', '17 Aug 1985', '13 Oct 2016', '14 Jan 2008', '12 March 2004', '21 Oct 1977', '10 Aug 2000', '30 Nov 1972', '06 May 1993', '18 Jan 1995', 'September 1985', 'June 2011', 'May 1986', 'May 2016', 'July 1977', 'July 1990', 'Jul 2003', 'Oct 2015', 'May 1995', 'February 1976', 'January 1995', 'Feb 1978', 'May 2011', 'May 2004', 'Nov 2010', 'Sep 2012', 'January 2013', 'November 1990', 'July 1981', 'May 1983', 'July 1995', 'April 1993', 'May 2005', 'December 1998', 'Jan 2007', 'Feb 2016', 'August 1979', 'Oct 2014', 'atmentIAug 1988', 'Sep 2015', 'Apr 1976', 'Nov 1979', 'February 2000', 'Oct 1986', 'Jun 2002', 'September 1981', 'June 2007', 'April 1989', 'September 1999', 'Oct 1980', 'Dec 2009', 'July 1992', 'May 2006', 'August 2008', 'Feb 1993', 'February 2010', 'April 1985', 'September 1984', 'April 1986', 'Apr 2007', 'September 1974', 'Sep 2013', 'July 1985', 'esyAug 2004', 'May 2012', 'AFeb 1977', 'Jan 1987', 'essSep 1983', 'January 2013', 'Mar 2010', 'August 2009', 'Sep 2007', 'December 2011', 'Jan 2004', 'November 1995', 'September 2008', 'February 1983', 'March 1983', 'Aug 1979', 'Jan 2009', 'January 1993', 'March 1974', 'January 1994', 'Dec 1992', 'November 2004', 'January 1977', 'Mar 2002', 'Feb 2000', 'spitalMay 2004', 'July 2006', 'Feb 1994', 'April 1977', 'Oct 1992', 'February 1995', 'February 1989', 'December 1978', 'January 2007', 'Jun 1976', 'May 2011', 'Mar 1975', 'Jan 1978', 'July 1975', 'November 2012', 'June 1999', 'October 1991', 'March 1973', 'October 1996', 'Jun 2007', 'October 1995', 'April 1999', 'May 2001', 'March 2000', 'April 1988', 'December 1993', 'June 1974', 'sNovember 1997', 'July 1986', 'February 1973', 'March 1978', 'Dec 2007', 'Apr 1998', 'March 2005', 'May 1980', 'Nov 2007', 'March 1976', 'nedsSince 1998', 'attempt 2011', 'since 1997', 'since 1996', 'elivery 1992', 'ephrectomy 1977']
['1972-01-13 ', '1972-05-24 ', '1972-10-04 ', '1972-11-30 ', '1973-02-24 ', '1973-03-24 ', '1974-03-05 ', '1974-03-06 ', '1974-03-24 ', '1974-05-26 ', '1974-06-13 ', '1974-06-24 ', '1974-09-24 ', '1974-10-10 ', '1975-03-24 ', '1975-07-24 ', '1975-08-18 ', '1976-02-24 ', '1976-03-24 ', '1976-04-24 ', '1976-06-24 ', '1977-01-24 ', '1977-02-24 ', '1977-04-24 ', '1977-07-24 ', '1977-08-24 ', '1977-10-21 ', '1978-01-24 ', '1978-02-02 ', '1978-02-24 ', '1978-03-24 ', '1978-10-21 ', '1978-12-24 ', '1979-08-24 ', '1979-08-24 ', '1979-10-01 ', '1979-11-24 ', '1980-03-12 ', '1980-05-24 ', '1980-10-24 ', '1981-01-14 ', '1981-07-24 ', '1981-09-24 ', '1982-05-26 ', '1982-12-10 ', '1983-02-10 ', '1983-02-24 ', '1983-03-24 ', '1983-05-24 ', '1983-09-24 ', '1983-10-21 ', '1984-09-24 ', '1985-02-11 ', '1985-04-24 ', '1985-06-15 ', '1985-07-24 ', '1985-08-17 ', '1985-09-24 ', '1985-10-10 ', '1986-04-24 ', '1986-05-24 ', '1986-07-24 ', '1986-10-13 ', '1986-10-24 ', '1987-01-24 ', '1987-10-25 ', '1988-04-24 ', '1988-08-24 ', '1988-12-04 ', '1988-12-09 ', '1989-02-24 ', '1989-04-24 ', '1989-09-09 ', '1990-01-18 ', '1990-02-10 ', '1990-06-22 ', '1990-07-24 ', '1990-11-24 ', '1991-10-24 ', '1992-02-05 ', '1992-07-24 ', '1992-08-24 ', '1992-10-14 ', '1992-10-24 ', '1992-12-24 ', '1993-01-24 ', '1993-02-24 ', '1993-04-24 ', '1993-05-06 ', '1993-08-23 ', '1993-12-24 ', '1994-01-24 ', '1994-01-24 ', '1994-02-24 ', '1994-06-28 ', '1995-01-18 ', '1995-01-24 ', '1995-02-14 ', '1995-02-24 ', '1995-05-24 ', '1995-07-24 ', '1995-08-18 ', '1995-10-21 ', '1995-10-24 ', '1995-11-24 ', '1996-01-22 ', '1996-08-24 ', '1996-10-14 ', '1996-10-24 ', '1996-11-11 ', '1997-08-24 ', '1997-11-24 ', '1998-04-24 ', '1998-08-24 ', '1998-12-24 ', '1999-04-24 ', '1999-06-24 ', '1999-09-24 ', '1999-10-18 ', '2000-02-24 ', '2000-02-24 ', '2000-03-24 ', '2000-08-10 ', '2000-08-24 ', '2001-01-24 ', '2001-05-24 ', '2001-05-26 ', '2001-05-30 ', '2002-03-24 ', '2002-06-24 ', '2002-11-11 ', '2003-07-24 ', '2003-10-06 ', '2004-01-24 ', '2004-03-12 ', '2004-05-24 ', '2004-05-24 ', '2004-08-24 ', '2004-09-10 ', '2004-11-11 ', '2004-11-24 ', '2005-03-24 ', '2005-05-24 ', '2006-05-24 ', '2006-07-24 ', '2006-10-18 ', '2007-01-24 ', '2007-01-24 ', '2007-04-24 ', '2007-06-24 ', '2007-06-24 ', '2007-09-24 ', '2007-10-21 ', '2007-11-24 ', '2007-11-30 ', '2007-12-24 ', '2008-01-14 ', '2008-05-26 ', '2008-08-24 ', '2008-09-24 ', '2009-01-24 ', '2009-08-24 ', '2009-12-24 ', '2010-02-24 ', '2010-03-24 ', '2010-05-26 ', '2010-11-24 ', '2011-01-24 ', '2011-05-24 ', '2011-05-24 ', '2011-06-24 ', '2011-08-24 ', '2011-12-24 ', '2012-05-24 ', '2012-09-24 ', '2012-10-21 ', '2012-11-24 ', '2013-01-24 ', '2013-01-24 ', '2013-09-24 ', '2014-10-24 ', '2015-09-24 ', '2015-09-28 ', '2015-10-24 ', '2016-02-24 ', '2016-05-24 ', '2016-05-30 ', '2016-10-13 ', '2016-10-19 ', '2022-06-28 ']
190

In [5]:
# mes año
l4= re.compile(r' [01]?[\d]\/[12][\d]{2,3}| [01]?[\d]\-[12][\d]{2,3}')
fechas4 = l4.findall(string)


print(fechas4)
print(len(fechas4))


fec4=list()
for i in fechas4:
    d = parser.parse(i)
    fec4.append(d.strftime("%Y-%m-01"))
    


fechas4=sorted(fec4)
print(fechas4)
print(len(fechas4))

[' 6/2005', ' 03/1980', ' 8/1974', ' 3/1986', ' 3/1993', ' 9/2003', ' 10/1993', ' 1/1983', ' 7/1994', ' 10/1980', ' 11/2010', ' 7/1997', ' 7/2014', ' 9/2001', ' 8/1986', ' 1/2009', ' 5/1995', ' 8/1989', ' 11/2000', ' 6/2001', ' 12/1978', ' 7/1973', ' 1/2014', ' 09/1975', ' 12/2012', ' 5/1999', ' 11/1998', ' 3/1995', ' 5/2000', ' 10/2001', ' 5/1979', ' 1/1992', ' 11/2008', ' 12/2014', ' 4/1974', ' 10/1981', ' 03/1973', ' 8/1999', ' 10/2010', ' 10/1994', ' 01/2007', ' 03/1990', ' 7/1987', ' 8/1975', ' 5/1977', ' 3/2000', ' 9/1984', ' 12/1986', ' 4/1979', ' 7/2004', ' 11/1984', ' 5/2016', ' 4/2013', ' 4/1999', ' 5/2006', ' 12/1989', ' 2/1974', ' 11/1986', ' 4/1983', ' 10/2014', ' 9/2000', ' 1/2008', ' 4/2002', ' 7/1985', ' 8/2002', ' 12/2004', ' 3/2003']
67
['1973-03-01', '1973-07-01', '1974-02-01', '1974-04-01', '1974-08-01', '1975-08-01', '1975-09-01', '1977-05-01', '1978-12-01', '1979-04-01', '1979-05-01', '1980-03-01', '1980-10-01', '1981-10-01', '1983-01-01', '1983-04-01', '1984-09-01', '1984-11-01', '1985-07-01', '1986-03-01', '1986-08-01', '1986-11-01', '1986-12-01', '1987-07-01', '1989-08-01', '1989-12-01', '1990-03-01', '1992-01-01', '1993-03-01', '1993-10-01', '1994-07-01', '1994-10-01', '1995-03-01', '1995-05-01', '1997-07-01', '1998-11-01', '1999-04-01', '1999-05-01', '1999-08-01', '2000-03-01', '2000-05-01', '2000-09-01', '2000-11-01', '2001-06-01', '2001-09-01', '2001-10-01', '2002-04-01', '2002-08-01', '2003-03-01', '2003-09-01', '2004-07-01', '2004-12-01', '2005-06-01', '2006-05-01', '2007-01-01', '2008-01-01', '2008-11-01', '2009-01-01', '2010-10-01', '2010-11-01', '2012-12-01', '2013-04-01', '2014-01-01', '2014-07-01', '2014-10-01', '2014-12-01', '2016-05-01']
67

In [6]:
str_a = string.replace('","', '') #commas inside double quotes
str_a = string.replace(',', '') #replace just commas
#mes dia año (letra)
l5 = re.compile('([JjFfMmAaSsOcNnDe][a-z,A-Z,\d]{2,9} )([\d]{1,2} )([\d]{2,4}\d\d)')
fechas5 = l5.findall(str_a)

print(fechas5)
print(len(fechas5))
fechas5 = list(map(''.join, fechas5))
print(fechas5)

fechas5 = ["May 15 1989" if element == "esMay 15 1989" else element for element in fechas5]
fechas5 = ["May 14 1989" if element == "certainMay 14 1989" else element for element in fechas5]
fechas5 = ["June 15 1972" if element == "cesJune 15 1972" else element for element in fechas5]
fechas5 = ["Aug 16 1991" if element == "Age 16 1991" else element for element in fechas5]
fechas5 = ["Aug 19 1976" if element == "Age 19 1976" else element for element in fechas5]



fec5=list()
for i in fechas5:
    d = parser.parse(i)
    fec5.append(d.strftime("%Y-%m-%d "))
    


fechas5=sorted(fec5)
print(fechas5)
print(len(fechas5))

[('April ', '11 ', '1990'), ('May ', '30 ', '2001'), ('Feb ', '18 ', '1994'), ('February ', '18 ', '1981'), ('Jan ', '24 ', '1986'), ('July ', '26 ', '1978'), ('December ', '23 ', '1999'), ('esMay ', '15 ', '1989'), ('September ', '06 ', '1995'), ('Jan ', '27 ', '1983'), ('October ', '23 ', '1990'), ('August ', '12 ', '2004'), ('September ', '01 ', '2012'), ('July ', '25 ', '1983'), ('August ', '11 ', '1989'), ('April ', '17 ', '1992'), ('July ', '24 ', '1999'), ('July ', '11 ', '1997'), ('August ', '14 ', '1981'), ('Nov ', '11 ', '1988'), ('June ', '13 ', '2011'), ('certainMay ', '14 ', '1989'), ('Dec ', '14 ', '1975'), ('June ', '25 ', '2012'), ('Oct ', '18 ', '1980'), ('May ', '15 ', '1998'), ('October ', '14 ', '1974'), ('July ', '25 ', '1998'), ('cesJune ', '15 ', '1972'), ('January ', '07 ', '1991'), ('Age ', '16 ', '1991'), ('Age ', '19 ', '1976')]
32
['April 11 1990', 'May 30 2001', 'Feb 18 1994', 'February 18 1981', 'Jan 24 1986', 'July 26 1978', 'December 23 1999', 'esMay 15 1989', 'September 06 1995', 'Jan 27 1983', 'October 23 1990', 'August 12 2004', 'September 01 2012', 'July 25 1983', 'August 11 1989', 'April 17 1992', 'July 24 1999', 'July 11 1997', 'August 14 1981', 'Nov 11 1988', 'June 13 2011', 'certainMay 14 1989', 'Dec 14 1975', 'June 25 2012', 'Oct 18 1980', 'May 15 1998', 'October 14 1974', 'July 25 1998', 'cesJune 15 1972', 'January 07 1991', 'Age 16 1991', 'Age 19 1976']
['1972-06-15 ', '1974-10-14 ', '1975-12-14 ', '1976-08-19 ', '1978-07-26 ', '1980-10-18 ', '1981-02-18 ', '1981-08-14 ', '1983-01-27 ', '1983-07-25 ', '1986-01-24 ', '1988-11-11 ', '1989-05-14 ', '1989-05-15 ', '1989-08-11 ', '1990-04-11 ', '1990-10-23 ', '1991-01-07 ', '1991-08-16 ', '1992-04-17 ', '1994-02-18 ', '1995-09-06 ', '1997-07-11 ', '1998-05-15 ', '1998-07-25 ', '1999-07-24 ', '1999-12-23 ', '2001-05-30 ', '2004-08-12 ', '2011-06-13 ', '2012-06-25 ', '2012-09-01 ']
32

In [7]:
# juntamos todas las fechas y las ordenamos
fechafinal= fechas5 + fechas4 + fechas3 + fechas2 + fecha1
fechafinal=sorted(fechafinal)
print(fechafinal)
print(len(fechafinal))

['1972-01-13 ', '1972-01-26 ', '1972-05-13 ', '1972-05-24 ', '1972-06-10 ', '1972-06-15 ', '1972-06-15 ', '1972-07-20 ', '1972-10-04 ', '1972-11-30 ', '1973-02-14 ', '1973-02-24 ', '1973-03-01', '1973-03-24 ', '1973-07-01', '1973-12-01 ', '1974-02-01', '1974-02-24 ', '1974-03-05 ', '1974-03-06 ', '1974-03-24 ', '1974-04-01', '1974-04-11 ', '1974-04-12 ', '1974-05-04 ', '1974-05-26 ', '1974-06-13 ', '1974-06-24 ', '1974-07-07 ', '1974-08-01', '1974-09-10 ', '1974-09-24 ', '1974-10-10 ', '1974-10-14 ', '1975-02-28 ', '1975-03-24 ', '1975-04-09 ', '1975-07-24 ', '1975-07-29 ', '1975-08-01', '1975-08-18 ', '1975-09-01', '1975-09-27 ', '1975-11-22 ', '1975-12-14 ', '1976-02-11 ', '1976-02-24 ', '1976-03-10 ', '1976-03-24 ', '1976-04-24 ', '1976-06-24 ', '1976-08-19 ', '1976-09-02 ', '1976-09-20 ', '1976-10-13 ', '1977-01-24 ', '1977-02-24 ', '1977-04-24 ', '1977-05-01', '1977-05-04 ', '1977-05-21 ', '1977-06-20 ', '1977-07-11 ', '1977-07-24 ', '1977-08-24 ', '1977-10-21 ', '1978-01-24 ', '1978-02-02 ', '1978-02-03 ', '1978-02-24 ', '1978-03-24 ', '1978-05-18 ', '1978-07-26 ', '1978-07-26 ', '1978-08-04 ', '1978-08-11 ', '1978-10-21 ', '1978-12-01', '1978-12-24 ', '1979-04-01', '1979-05-01', '1979-07-06 ', '1979-08-24 ', '1979-08-24 ', '1979-09-06 ', '1979-10-01 ', '1979-10-21 ', '1979-11-24 ', '1980-03-01', '1980-03-12 ', '1980-04-22 ', '1980-05-24 ', '1980-10-01', '1980-10-18 ', '1980-10-18 ', '1980-10-24 ', '1981-01-14 ', '1981-01-14 ', '1981-02-18 ', '1981-02-18 ', '1981-06-29 ', '1981-07-24 ', '1981-08-09 ', '1981-08-14 ', '1981-08-14 ', '1981-09-19 ', '1981-09-24 ', '1981-10-01', '1982-04-12 ', '1982-04-13 ', '1982-05-26 ', '1982-07-04 ', '1982-08-16 ', '1982-08-20 ', '1982-09-22 ', '1982-10-16 ', '1982-12-10 ', '1983-01-01', '1983-01-27 ', '1983-01-27 ', '1983-02-10 ', '1983-02-24 ', '1983-03-15 ', '1983-03-24 ', '1983-04-01', '1983-05-24 ', '1983-07-25 ', '1983-07-25 ', '1983-08-06 ', '1983-08-22 ', '1983-09-24 ', '1983-10-21 ', '1983-11-14 ', '1984-07-25 ', '1984-09-01', '1984-09-17 ', '1984-09-24 ', '1984-11-01', '1985-02-11 ', '1985-03-31 ', '1985-04-24 ', '1985-05-11 ', '1985-06-15 ', '1985-06-18 ', '1985-07-01', '1985-07-24 ', '1985-08-17 ', '1985-09-24 ', '1985-10-10 ', '1985-11-03 ', '1986-01-24 ', '1986-03-01', '1986-03-07 ', '1986-04-24 ', '1986-05-24 ', '1986-07-18 ', '1986-07-24 ', '1986-07-27 ', '1986-08-01', '1986-10-13 ', '1986-10-24 ', '1986-10-24 ', '1986-11-01', '1986-12-01', '1986-12-26 ', '1987-01-21 ', '1987-01-24 ', '1987-04-12 ', '1987-06-24 ', '1987-06-28 ', '1987-07-01', '1987-10-11 ', '1987-10-25 ', '1987-12-04 ', '1987-12-05 ', '1988-04-24 ', '1988-05-24 ', '1988-08-24 ', '1988-11-11 ', '1988-11-11 ', '1988-12-04 ', '1988-12-09 ', '1989-02-24 ', '1989-04-05 ', '1989-04-13 ', '1989-04-24 ', '1989-05-14 ', '1989-05-14 ', '1989-05-15 ', '1989-05-15 ', '1989-08-01', '1989-08-11 ', '1989-08-11 ', '1989-08-26 ', '1989-09-09 ', '1989-09-22 ', '1989-10-24 ', '1989-12-01', '1990-01-18 ', '1990-02-10 ', '1990-03-01', '1990-03-03 ', '1990-04-11 ', '1990-04-11 ', '1990-05-24 ', '1990-06-22 ', '1990-07-24 ', '1990-10-23 ', '1990-11-05 ', '1990-11-24 ', '1990-12-08 ', '1991-01-07 ', '1991-01-07 ', '1991-03-31 ', '1991-04-19 ', '1991-05-24 ', '1991-06-20 ', '1991-07-06 ', '1991-07-15 ', '1991-08-16 ', '1991-10-24 ', '1991-10-29 ', '1992-01-01', '1992-02-05 ', '1992-02-22 ', '1992-04-17 ', '1992-04-17 ', '1992-06-13 ', '1992-07-17 ', '1992-07-24 ', '1992-08-16 ', '1992-08-24 ', '1992-10-14 ', '1992-10-24 ', '1992-12-15 ', '1992-12-24 ', '1993-01-24 ', '1993-02-24 ', '1993-03-01', '1993-03-25 ', '1993-04-24 ', '1993-05-06 ', '1993-06-05 ', '1993-08-23 ', '1993-10-01', '1993-12-24 ', '1994-01-24 ', '1994-01-24 ', '1994-02-18 ', '1994-02-18 ', '1994-02-24 ', '1994-06-12 ', '1994-06-28 ', '1994-07-01', '1994-07-29 ', '1994-08-14 ', '1994-10-01', '1995-01-18 ', '1995-01-24 ', '1995-02-14 ', '1995-02-24 ', '1995-03-01', '1995-03-14 ', '1995-05-01', '1995-05-24 ', '1995-06-17 ', '1995-07-24 ', '1995-07-24 ', '1995-08-18 ', '1995-09-06 ', '1995-09-06 ', '1995-10-13 ', '1995-10-21 ', '1995-10-24 ', '1995-11-24 ', '1996-01-22 ', '1996-02-06 ', '1996-02-27 ', '1996-08-24 ', '1996-10-02 ', '1996-10-14 ', '1996-10-24 ', '1996-11-11 ', '1997-07-01', '1997-07-11 ', '1997-07-11 ', '1997-08-24 ', '1997-10-05 ', '1997-11-24 ', '1997-12-08 ', '1998-02-15 ', '1998-04-24 ', '1998-04-24 ', '1998-05-15 ', '1998-05-15 ', '1998-07-21 ', '1998-07-25 ', '1998-07-25 ', '1998-08-01 ', '1998-08-24 ', '1998-10-04 ', '1998-11-01', '1998-12-22 ', '1998-12-24 ', '1999-01-05 ', '1999-04-01', '1999-04-24 ', '1999-05-01', '1999-06-24 ', '1999-07-24 ', '1999-07-24 ', '1999-08-01', '1999-09-24 ', '1999-10-18 ', '1999-12-23 ', '1999-12-23 ', '2000-02-24 ', '2000-02-24 ', '2000-03-01', '2000-03-24 ', '2000-05-01', '2000-08-10 ', '2000-08-24 ', '2000-09-01', '2000-09-14 ', '2000-11-01', '2001-01-24 ', '2001-05-24 ', '2001-05-26 ', '2001-05-30 ', '2001-05-30 ', '2001-05-30 ', '2001-06-01', '2001-09-01', '2001-10-01', '2002-03-24 ', '2002-04-01', '2002-04-13 ', '2002-06-24 ', '2002-07-18 ', '2002-08-01', '2002-11-11 ', '2003-03-01', '2003-07-24 ', '2003-09-01', '2003-10-06 ', '2004-01-24 ', '2004-03-12 ', '2004-04-08 ', '2004-05-24 ', '2004-05-24 ', '2004-07-01', '2004-08-12 ', '2004-08-24 ', '2004-09-10 ', '2004-11-11 ', '2004-11-24 ', '2004-12-01', '2005-03-24 ', '2005-05-24 ', '2005-06-01', '2006-02-11 ', '2006-04-27 ', '2006-05-01', '2006-05-24 ', '2006-07-24 ', '2006-10-18 ', '2007-01-01', '2007-01-24 ', '2007-01-24 ', '2007-04-24 ', '2007-06-24 ', '2007-06-24 ', '2007-09-24 ', '2007-10-21 ', '2007-11-24 ', '2007-11-30 ', '2007-12-24 ', '2008-01-01', '2008-01-14 ', '2008-05-26 ', '2008-08-24 ', '2008-09-24 ', '2008-11-01', '2009-01-01', '2009-01-24 ', '2009-08-24 ', '2009-12-24 ', '2010-02-24 ', '2010-03-24 ', '2010-05-26 ', '2010-10-01', '2010-11-01', '2010-11-24 ', '2010-12-05 ', '2011-01-24 ', '2011-01-25 ', '2011-05-24 ', '2011-05-24 ', '2011-06-13 ', '2011-06-13 ', '2011-06-24 ', '2011-07-20 ', '2011-08-24 ', '2011-09-15 ', '2011-12-24 ', '2012-05-12 ', '2012-05-24 ', '2012-06-25 ', '2012-06-25 ', '2012-09-01 ', '2012-09-01 ', '2012-09-24 ', '2012-10-21 ', '2012-11-24 ', '2012-12-01', '2013-01-24 ', '2013-01-24 ', '2013-04-01', '2013-09-24 ', '2013-10-11 ', '2014-01-01', '2014-07-01', '2014-10-01', '2014-10-24 ', '2014-12-01', '2015-09-24 ', '2015-09-28 ', '2015-10-24 ', '2016-02-24 ', '2016-05-01', '2016-05-24 ', '2016-05-30 ', '2016-10-13 ', '2016-10-19 ', '2022-06-28 ']
436

Solo logre encontrar 436 de 500 pero ya estoy cansado :(, tengo la teoría de que es solo año los que faltan.